<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
      <link rel="stylesheet" href="../Static/CSS.css">
    <script src="../Static/JS_NAIL4U.js"></script>
</head>
<body>

    <nav>
        <div class="topnav">
          <a class="navbar-brand" href="../Views/HomePage.html">
              <div class="logo">
                    <img src="../Static/Images/Logo.jpg" alt="Logo">
              </div>
          </a>
          <div class="topnav-right">
                 <a href="../Views/SearchAppointment.html">Search</a>
                   <a href="../Views/About.html">About</a>
                    <a href="../Views/OurCosmeticians.html"> Cosmeticians </a>
                   <a href="../Views/Favorites.html"> Favorites </a>
                   <a href="../Views/LogIn.html"> Log In </a>
                   <a href="../Views/NewAccount.html"> Join Us </a>
             </div>
          </div>
        </div>
    </nav>


    <div class="container-welcome">
        <div class="welcome-animation">
            Welcome To
        </div>
        <br>
        <div class="logo-animation">
            <img src="../Static/Images/Logo.jpg" alt="Logo">
        </div>
        <div class="button-animation">
            <a href="../Views/LogIn.html">
            <span><button class="first-button">Log In to get started</button></span>
            </a>
            <br>
            <a href="../Views/NewAccount.html">
            <span><button class="second-button">New Here? Create new account</button></span>
            </a>

         </div>

    </div>





</body>
</html>