<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" href="../Static/CSS.css">
     <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
   <script src="../Static/JS_NAIL4U.js"></script>



</head>
<body>
    <nav>
      <div class="topnav">
          <a class="navbar-brand" href="../Views/HomePage.html">
              <div class="logo">
                    <img src="../Static/Images/Logo.jpg" alt="Logo">
              </div>
          </a>
          <div class="topnav-right">
                 <a href="../Views/SearchAppointment.html">Search</a>
                   <a href="../Views/About.html">About</a>
                    <a href="../Views/OurCosmeticians.html"> Cosmeticians </a>
                   <a href="../Views/Favorites.html"> Favorites </a>
                   <a href="../Views/LogIn.html"> Log In </a>
                   <a href="../Views/NewAccount.html"> Join Us </a>
             </div>
          </div>
        </div>
    </nav>
     <div class="container-results">
        <div class="title">
            Reviews
        </div>
        <div class="grid-reviews">
          <div class="firstArea">Cosmetician: Noa Levi</div>
          <div class="areaA">
              <table>
              <tr>
                <td></td>
                <td class="review-time">
                <p >4 months ago</p>
                  </td>
              </tr>
                  <tr>
                 <td ><img src="../Static/Images/RatingLogo.png"></td>
                <td class="review-rating"> 5 / 5</td>

              </tr>
                  <tr>
                <td></td>
                <td class="review-text">
                    <p>
                        The nail technician did an excellent job, paying attention to every detail
                        and ensuring that my nails were perfectly shaped and polished. I was impressed
                        by the variety of colors available and ended up choosing a beautiful shade of
                        deep red that I absolutely love. The finished product looked amazing and has
                        been holding up well.
                    </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div>
             <a href="../Views/WriteReview.html">
            <button class="add-review-button">Add a review <i class="fas fa-arrow-right"></i></button>
            </a>
         </div>
    </div>
</body>
</html>