head
  meta(charset='UTF-8')
  title HomePage
  link(rel='stylesheet', href="/CSS.css")
  script(src="JS_NAIL4U.js", defer)
  script(src='https://use.fontawesome.com/a6f0361695.js', defer)
  script(src='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css', defer)
body
  .container-welcome
    .welcome-animation
      | Welcome To
    br
    .logo-animation
      img(src='Images/Logo.jpg' alt='Logo')
    .button-animation
      a(href='/LogIn')
        span
          button.first-button Log In to get started
      br
      a(href='/NewAccount')
        span
          button.second-button New Here? Create new account
