head
  meta(charset='UTF-8')
  title HomePage
  link(rel='stylesheet', href="/CSS.css")
  script(src="JS_NAIL4U.js", defer)
  script(src='https://use.fontawesome.com/a6f0361695.js', defer)
  script(src='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css', defer)
body
  nav(class="topnav")
    a(class="navbar-brand", href='/')
      div(class= "logo")
        img(src='Images/Logo.jpg' alt='Logo')
  .container-newAccount
    .title
      | #{title}
    form(name='NewAccount' action='/insertNewAccount' onsubmit='return ValidForm()' method='post')
      .form
        label(for='email')
        br
        input#email(type='email' name='email' placeholder='Email' required)
        br
        label(for='fname')
        br
        input#fname(type='text' name='fname' placeholder='First Name' required)
        br
        label(for='lname')
        br
        input#lname(type='text' name='lname' placeholder='Last Name' required)
        br
        label(for='password')
        br
        input#password(type='password' name='password' placeholder='Password' required)
        br
        label(for='age')
        br
        input#age(type='text' name='age' placeholder='Age' required)
        br
        label(for='phone')
        br
        input#phone(type='text' name='phone' placeholder='Phone Number' required)
        br
        br
        br
        input(type='submit' value='Create Account')
